<div class="d-flex justify-content-center mt-3">
  <div class="form-group p-3 trasparentSquad col-md-4">
    <div class="d-flex justify-content-center">
      <h2>Lista de Ingredientes</h2>
    </div>
    <div class="d-flex justify-content-center">
      <button (click)="redirectAdd()" class="btn btn-success">Agregar</button>
    </div>

    <div class="container mt-5 d-flex justify-content-center">
      <div class="row">
          <div class="col-md-4" *ngFor="let ingrediente of ingredientes">
              <div class="card">
                  <div class="image-container">
                      <img [src]="ingrediente.linkFoto" class="img-fluid rounded thumbnail-image">
                  </div>
                  <div class="product-detail-container p-2">
                      <div class="d-flex justify-content-center">
                          <h5 class="dress-name">{{ingrediente.nombre}}</h5>
                      </div>
                      <div class="d-flex flex-column pt-1">
                          <div class="d-flex flex-row justify-content-between">
                            <p>Calorias</p>
                            <span>{{ingrediente.caloriasX100mg}}</span>
                          </div>
                          <div class="d-flex flex-row justify-content-between">
                            <p>Fibra</p>
                            <span>{{ingrediente.fibraX100mg}}</span>
                          </div>
                          <div class="d-flex flex-row justify-content-between">
                            <p>Potasio</p>
                            <span>{{ingrediente.potasioX100mg}}</span>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex justify-content-around p-1">
                    <button (click)="redirectEdit(ingrediente.id)" class="btn btn-warning"><i class="fas fa-pencil"></i></button>
                    <button (click)="delete(ingrediente.id)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
